<!DOCTYPE html>
{% load static %}
<html lang="en"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>PEC Home</title>
    <!-- Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="http://themes.3rdwavemedia.com/college-green/1.5.3/favicon.ico">  

    <link href="{% static "css/css" %}" rel="stylesheet" type="text/css">  
    <!-- Global CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"> 
    <!-- Plugins CSS -->    
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/flexslider.css" %}" rel="stylesheet" type="text/css"> 
    <link href="{% static "css/prettyPhoto.css" %}" rel="stylesheet" type="text/css"> 
    <!-- Theme CSS -->  
    <link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body class="home-page">
    <div class="wrapper">
        <!-- ******HEADER****** --> 
        <header class="header">  
            <div class="top-bar">
                <div class="container">              
                    <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs">
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-google-plus"></i></a></li>         
                        <li class="row-end"><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-rss"></i></a></li>             
                    </ul><!--//social-icons-->
                    <form class="pull-right search-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search the site...">
                        </div>
                        <button type="submit" class="btn btn-theme">Go</button>
                    </form>         
                </div>      
            </div><!--//to-bar-->
            <div class="header-main container">
                <h1 class="logo col-md-4 col-sm-4">
                    <a href="http://themes.3rdwavemedia.com/college-green/1.5.3/index.html"><img id="logo" src="./Responsive website template for education_files/logo.png" alt="Logo"></a>
                </h1><!--//logo-->           
                <div class="info col-md-8 col-sm-8">
                    <ul class="menu-top navbar-right hidden-xs">
                        <li class="divider"><a href="/">Home</a></li>
                        <li class="divider"><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/faq.html">FAQ</a></li>
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/contact.html">Contact</a></li>
                    </ul><!--//menu-top-->
                    <br>
                    <div class="contact pull-right">
                        <p class="phone"><i class="fa fa-phone"></i>Call us today 0800 123 4567</p> 
                        <p class="email"><i class="fa fa-envelope"></i><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">enquires@website.com</a></p>
                    </div><!--//contact-->
                </div><!--//info-->
            </div><!--//header-main-->
        </header><!--//header-->
        
        <!-- ******NAV****** -->
        <nav class="main-nav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/index.html">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">Courses <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/courses.html">Course List</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/course-single.html">Single Course (with image)</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/course-single-2.html">Single Course (with video)</a></li>  
                                <li class="dropdown-submenu">
                                    <a class="trigger" tabindex="-1" href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">Menu Levels <i class="fa fa-angle-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">Submenu Level 2</a></li>
                                        <li class="dropdown-submenu">
                                            <a class="trigger" href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">Submenu Level 2 <i class="fa fa-angle-right"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">Submenu Level 3</a></li>
                                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">Submenu Level 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">Submenu Level 2</a></li>
                                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">Submenu Level 2</a></li>
                                    </ul>
                                </li>           
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">News <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/news.html">News List</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/news-single.html">Single News (with image)</a></li>   
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/news-single-2.html">Single News (with video)</a></li>          
                            </ul>
                        </li>
                        <li class="nav-item"><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/events.html">Events</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/about.html">About</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/team.html">Leadership Team</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/jobs.html">Jobs</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/job-single.html">Single Job</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/gallery.html">Gallery (3 columns)</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/gallery-2.html">Gallery (4 columns)</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/gallery-3.html">Gallery (2 columns)</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/gallery-4.html">Gallery (with sidebar)</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/gallery-album.html">Single Gallery</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/gallery-album-2.html">Single Gallery (with sidebar)</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/faq.html">FAQ</a></li>                                
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/privacy.html">Privacy Policy</a></li> 
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/terms-and-conditions.html">Terms &amp; Conditions</a></li>                   
                            </ul>
                        </li><!--//dropdown-->
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">Shortcodes <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/typography.html"><i class="fa fa-file-text"></i> Typography</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/tables.html"><i class="fa fa-table"></i> Tables</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/buttons.html"><i class="fa fa-star"></i> Buttons</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/components.html"><i class="fa fa-rocket"></i> Components</a></li> 
                                <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/icons.html"><i class="fa fa-heart"></i> Icons</a></li>                                                 
                            </ul>
                        </li><!--//dropdown-->
                        <li class="nav-item"><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/contact.html">Contact</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </div><!--//container-->
        </nav><!--//main-nav-->
        
        <!-- ******CONTENT****** --> 
        <div class="content container">
            <div id="promo-slider" class="slider flexslider">
                <ul class="slides">
                    <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;">
                        <img src="{% static "images/slide-1.jpg"%}" alt="">
                        <p class="flex-caption">
                            <span class="main">Join College Green Online</span>
                            <br>
                            <span class="secondary clearfix">Choose from over 100 online and offline courses</span>
                        </p>
                    </li>
                    <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class="">
                        <img src="{% static "images/slide-2.jpg"%}" alt="">
                        <p class="flex-caption">
                            <span class="main">Come to our Open Days</span>
                            <br>
                            <span class="secondary clearfix">Donec accumsan nunc sed ipsum dapibus consectetur</span>
                        </p>
                    </li>
                    <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" class="flex-active-slide">
                        <img src="{% static "images/slide-3.jpg"%}" alt="">
                        <p class="flex-caption">
                            <span class="main">Discover online courses</span>
                            <br>
                            <span class="secondary clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                        </p>
                    </li>
                    <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class="">
                        <img src="{% static "images/slide-4.jpg"%}" alt="">
                        <p class="flex-caption">
                            <span class="main">Nam ultricies accumsan pellentesque</span>
                            <br>
                            <span class="secondary clearfix">In justo orci, ornare vitae nulla sed, suscipit suscipit augue</span>
                        </p>
                    </li>
                </ul><!--//slides-->
            <ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li><li><a class="">4</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">Previous</a></li><li><a class="flex-next" href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">Next</a></li></ul></div><!--//flexslider-->
            <section class="promo box box-dark">        
                <div class="col-md-12">
                <h1 class="section-heading">Welcome to PEC</h1>
                    <p>The College of Engineering Pathanapuram was established in the year 2011 by the Co-operative Academy of Professional Education (CAPE), an undertaking of the Government of Kerala. The College is located at Elikkatoor in Kollam district of Kerala. It is situated at a serene ambience in a vast area of twenty five acres, which is 7 Kms from Punalur and 8 Kms from Pathanapuram.</p>   
                </div>  
            </section><!--//promo-->
            <div class="row cols-wrapper">
                <div class="col-md-3">
                    <section class="events">
                        <h1 class="section-heading text-highlight"><span class="line">News and Events</span></h1>
                        <div class="section-content">
                            <div class="event-item">
                                <p class="date-label">
                                    <span class="month">FEB</span>
                                    <span class="date-number">18</span>
                                </p>
                                <div class="details">
                                    <h2 class="title">Open Day</h2>
                                    <p class="time"><i class="fa fa-clock-o"></i>10:00am - 18:00pm</p>
                                    <p class="location"><i class="fa fa-map-marker"></i>East Campus</p>                            
                                </div><!--//details-->
                            </div><!--event-item-->  
                            <div class="event-item">
                                <p class="date-label">
                                    <span class="month">SEP</span>
                                    <span class="date-number">06</span>
                                </p>
                                <div class="details">
                                    <h2 class="title">E-learning at College Green</h2>
                                    <p class="time"><i class="fa fa-clock-o"></i>10:00am - 16:00pm</p>
                                    <p class="location"><i class="fa fa-map-marker"></i>Learning Center</p>                            
                                </div><!--//details-->
                            </div><!--event-item-->
                            <div class="event-item">
                                <p class="date-label">
                                    <span class="month">JUN</span>
                                    <span class="date-number">23</span>
                                </p>
                                <div class="details">
                                    <h2 class="title">Career Fair</h2>
                                    <p class="time"><i class="fa fa-clock-o"></i>09:45am - 16:00pm</p>
                                    <p class="location"><i class="fa fa-map-marker"></i>Library</p>                            
                                </div><!--//details-->
                            </div><!--event-item-->
                            <div class="event-item">
                                <p class="date-label">
                                    <span class="month">May</span>
                                    <span class="date-number">17</span>
                                </p>
                                <div class="details">
                                    <h2 class="title">Science Seminar</h2>
                                    <p class="time"><i class="fa fa-clock-o"></i>14:00pm - 18:00pm</p>
                                    <p class="location"><i class="fa fa-map-marker"></i>Library</p>                            
                                </div><!--//details-->
                            </div><!--event-item-->
                            <a class="read-more" href="http://themes.3rdwavemedia.com/college-green/1.5.3/events.html">All events<i class="fa fa-chevron-right"></i></a>
                        </div><!--//section-content-->
                    </section><!--//events-->
                </div><!--//col-md-3-->
                <div class="col-md-6">
                    <section class="video">
                        <h1 class="section-heading text-highlight"><span class="line">Our Mission</span></h1>
                        <div class="section-content">    
                           <p>To mould quality engineering professionals to suit the needs of the society with strong fundamental knowledge,analytical skills, creativity, innovation, perspective, integrity and ethics; those who have the capacity to adapt to constant change, leadership potential to make the fullest possible contribution to the development  of the community  and the ability in any sense to function effectively in any emerging global environment.</p>
                            <img src="{% static "images/slide-3.jpg"%}" width="100%" alt="">
                           </div>
                    </section><!--//video-->
                </div>
                <div class="col-md-3">
                    <section class="links">
                        <h1 class="section-heading text-highlight"><span class="line">Quick Links</span></h1>
                        <div class="section-content">
                            <p><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-caret-right"></i>E-learning Portal</a></p>
                            <p><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-caret-right"></i>Gallery</a></p>
                            <p><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-caret-right"></i>Job Vacancies</a></p>
                            <p><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-caret-right"></i>Contact</a></p>
                        </div><!--//section-content-->
                    </section><!--//links-->
                    <section class="testimonials">
                        <h1 class="section-heading text-highlight"><span class="line"> Vision</span></h1>
                        <div class="section-content">
                            <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <blockquote class="quote">
                                            <p>An   institute   of   global   stature   with   excellence   in technical education which nurtures inquisitive young minds and fosters innovative research for the development of the society.</p>
                                        </blockquote>               
                                    </div><!--//item-->                                    
                                </div><!--//carousel-inner-->
                            </div><!--//testimonials-carousel-->
                        </div><!--//section-content-->
                    </section><!--//testimonials-->
                </div><!--//col-md-3-->
            </div><!--//cols-wrapper-->
        </div><!--//content-->
    </div><!--//wrapper-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                <div class="footer-col col-md-3 col-sm-4 about">
                    <div class="footer-col-inner">
                        <h3>About</h3>
                        <ul>
                            <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/about.html"><i class="fa fa-caret-right"></i>About us</a></li>
                            <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/contact.html"><i class="fa fa-caret-right"></i>Contact us</a></li>
                            <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/privacy.html"><i class="fa fa-caret-right"></i>Privacy policy</a></li>
                            <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/terms-and-conditions.html"><i class="fa fa-caret-right"></i>Terms &amp; Conditions</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col col-md-6 col-sm-8 newsletter">
                    <div class="footer-col-inner">
                        <h3>Join our mailing list</h3>
                        <p>Subscribe to get our weekly newsletter delivered directly to your inbox</p>
                        <form class="subscribe-form">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
                        </form>
                        
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col--> 
                <div class="footer-col col-md-3 col-sm-12 contact">
                    <div class="footer-col-inner">
                        <h3>Contact us</h3>
                        <div class="row">
                            <p class="adr clearfix col-md-12 col-sm-4">
                                <i class="fa fa-map-marker pull-left"></i>        
                                <span class="adr-group pull-left">       
                                    <span class="street-address">College Green</span><br>
                                    <span class="region">56 College Green Road</span><br>
                                    <span class="postal-code">BS16 AP18</span><br>
                                    <span class="country-name">UK</span>
                                </span>
                            </p>
                            <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>0800 123 4567</p>
                            <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">enquires@website.com</a></p>  
                        </div> 
                    </div><!--//footer-col-inner-->            
                </div><!--//foooter-col-->   
                </div>   
            </div>        
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2014 College Green Online | Website template by <a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#">3rd Wave Media</a></small>
                    <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-skype"></i></a></li> 
                        <li class="row-end"><a href="http://themes.3rdwavemedia.com/college-green/1.5.3/#"><i class="fa fa-rss"></i></a></li>
                    </ul><!--//social-->
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
     
    <!-- Javascript -->          
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery-1.12.3.min.js" %}"></script>
    <script src="{% static "js/bootstrap-hover-dropdown.min.js" %}"></script> 
    <script src="{% static "js/back-to-top.js" %}"></script>
    <script src="{% static "js/jquery.placeholder.js" %}"></script>
    <script src="{% static "js/jquery.prettyPhoto.js" %}"></script>
    <script src="{% static "js/jquery.flexslider-min.js" %}"></script>
    <script src="{% static "js/jflickrfeed.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
        
<div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 5px; right: 5px; opacity: 0; cursor: pointer;"><i class="fa fa-angle-up"></i></div></body></html>